.Rproj.user
.Rhistory
.RData
.Ruserdata
data-science-capstone/.RDataTmp
data-science-capstone/Capstone_preparation/Data/ng6a.rds
data-science-capstone/Capstone_preparation/Data/ng5a.rds
data-science-capstone/Capstone_preparation/Data/ng4a.rds
data-science-capstone/Capstone_preparation/Data/ng3a.rds
data-science-capstone/Capstone_preparation/Data/ng2a.rds
data-science-capstone/Capstone_preparation/Data/ng1.rds
data-science-capstone/Capstone_preparation/Data/full_75000.rds
data-science-capstone/Capstone_preparation/Data/full_50000.rds
data-science-capstone/Capstone_preparation/Data/full_25000.rds
data-science-capstone/Capstone_preparation/Data/full1b.rds
data-science-capstone/Capstone_preparation/Data/full1.rds
data-science-capstone/Capstone_preparation/Data/en_US.twitter.txt
data-science-capstone/Capstone_preparation/Data/en_US.news.txt
data-science-capstone/Capstone_preparation/Data/en_US.blogs.txt
data-science-capstone/.RDataTmp1
